{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "postcss.config.js",
          "webpack.config.js"
        ]
      }
    ]
  }
}