// @import '~normalize-scss/sass/normalize/import-now';

:global {
  html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  button {
    background: none;
    border: 2px solid white;
    color: white;
    border-radius: .2em;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
