@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Orbitron');
@import '~normalize-scss/sass/normalize/import-now';

$text-color: white;

body {
  font-family: 'Chakra Petch', sans-serif;
  // font-family: 'Orbitron', sans-serif;
  height: 100vh;
  width: 100%;
	background-color: black;
	color: $text-color;

  * {
    transition: all .3s;
  }

  a {
    color: $text-color;

    &:not(:hover) {
      text-decoration: none;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;

    h1, h2, h3 {
      margin-top: 4px;
      margin-bottom: 4px;
      align-items: center;
      white-space: nowrap;
    }

    h1 {
      font-size: 22px;
    }
  }

  .links {
		display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    text-align: center;

    *:not(:first-child) {
      margin-left: 10px;
    }

    img {
      width: 7vw;

      &:hover {
        width: 9vw;
      }
    }
  }
}
