@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import '~normalize-scss/sass/normalize/import-now';

$text-color: white;
$text-color-active: #cc9bff;

body {
  font-family: 'Chakra Petch', sans-serif;
  height: 100vh;
  width: 100%;
	background-color: black;
	color: $text-color;
}

a {
  color: $text-color;
	text-decoration: none;
	transition: color .3s;

	&:active, &:hover {
		color: $text-color-active;
	}
}

.sidebar {
	padding: 10px;

	h1, h2 {
		margin-top: 0;
		margin-bottom: 0;
	}

	h2 {
		font-size: 1em;
	}

	nav {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.sublink {
			margin-left: 20px;
		}
	}
}
