.overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 10px;
  
  .nav {
    display: flex;

    .group {
      position: relative;

      &:not(:hover) {
        .links {
          display: none;
        }
      }

      &:not(:first-child) {
        margin-left: 13px;
      }

      .title {
        cursor: pointer;
      }

      .links {
        position: absolute;
        right: 0;
        text-align: right;

        a {
          margin-top: 5px;
          display: block;
        }
      }
    }
  }
}
