@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import '../../colors';

.app {
  font-family: 'Chakra Petch', sans-serif;
  height: 100vh;
  width: 100%;
	background-color: black;
  color: $text-color;
  display: flex;
}

.content {
  flex-grow: 1;
}

.life {
  width: 100%;
  height: 100%;
}
